
.mmm{
    color: #fff;
    padding: 50px;
}
.mmm.light{
  color: #333;
}
  .mmm strong {
    text-decoration: underline;
    text-decoration-color: #539ce463;
    text-decoration-thickness: 7px;
    text-underline-offset: -2px;
    text-decoration-skip-ink: none;  
  }
  .mmm.light strong {
    text-decoration: underline;
    text-decoration-color: rgb(0 72 255 / 40%);
    text-decoration-thickness: 7px;
    text-underline-offset: -2px;
    text-decoration-skip-ink: none;
  }
  
  
  .tit{
    text-align: center;
    font-size: 27px;
    color: #fff;
    margin: 10px 0px;
  }
  .tit.light{
    text-align: center;
    font-size: 27px;
    color: #539ce4;
    margin: 10px 0px;
  }
    .mmm strong code {
    border: none;
    background: none;
    padding: 0; 
  }
  .mmm.light strong code {
    border: none;
    background: none;
    color: #446063;
    padding: 0;
  }
 
  
    .mmm pre *:not(i),
    .mmm code *:not(i) {
    font-family: 'Vazir Code', monospaced;
  }
  .mmm pre i,.mmm code i{
    color: #539ce4;
  }
  .mmm.light pre i,.mmm.light code i{
    color: #539ce4;
  }
    .mmm body {
    padding: 0;
    max-width: 100%;
    height: 100%;
  }
  
    .mmm header {
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    top: 0;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0.5em 3em;
    margin: 0;
    transition: 0.2s ease;
  }
  
    .mmm a {
    text-decoration: none;
    font-size: 1.1em;
    color: #539ce4;
  }
  
    .mmm p {
      font-size: 1.2em;
    line-height: 2.5em;
    margin: 14px 0px;
  }
  
    .mmm h1,
    .mmm h2,
    .mmm h3,
    .mmm h4,
    .mmm h5,
    .mmm h6 {
    line-height: 1.65em;
  }
  .mmm ul li{
    margin: 13px 0px;
  }
  
    .mmm article :is(h1, h2, h3, h4, h5, h6)::before {
    color: #539ce4;
    opacity: 0.4;
    margin-left: 0.1em;
    font-size: 0.8em;
  }
    .mmm article h1::before {
    content: '#';
  }
    .mmm article h2::before {
    content: '##';
  }
    .mmm article h3::before {
    content: '###';
  }
    .mmm article h4::before {
    content: '####';
  }
    .mmm article h5::before {
    content: '#####';
  }
    .mmm article h6::before {
    content: '######';
  }
  
    .mmm code {
      color: #539ce4;
      font-size: 1em;
      border-radius: 7px;
      padding: 0px 4px;
      background-color: rgb(40 38 38 / 70%);
  }
  .mmm.light code {
    color: #fff;
}
    .mmm pre {
    direction: ltr;
  }
  
    .mmm .logo {
    font-size: 2.5em;
    font-weight: 700;
  }
  
    .mmm nav {
    font-weight: 500;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  nav a:first-child {
    margin-left: auto;
  }
    .mmm nav a {
    margin: 0 1em;
    font-size: 1.5em;
  }
  
    .mmm .topNavbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    font-weight: 700;
  }
  
    .mmm .center {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  
    .mmm main h1 {
    color: #539ce4;
    font-size: 1.7em;
    margin-bottom: 0.5em;
  }
  
    .mmm main h2 {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 1em;
  }
  
    .mmm .nice-btn {
    font-size: 1.2em;
    border-radius: 15px;
    margin: 0.25em 0.5em;
    padding: 0.25em 1.5em;
    transition: 0.2s ease;
  }
  
    .mmm .nice-btn:hover {
    transform: scale(1.1);
  }
  
    .mmm .card .nice-btn {
    font-size: 1em;
  }
  
    .mmm .group-btn {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 1em;
    justify-content: space-between;
  }
  
    .mmm .social-icons {
    margin: 1em 0;
  }
    .mmm .social-icons a {
    font-size: 2.7em;
    margin: 0.5em;
  }
  
    .mmm main {
    padding: 160px 5em;
    transition: 0.2s ease;
    padding-top: 195px;
  }
  
    .mmm pre {
    position: relative;
  }
  
  .copy-button {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5em;
    padding: 0.5em;
    border: none;
    font-size: 1.2em;
    border-radius: 10px;
    display: flex;
    cursor: pointer; 
  }
  
    .mmm :is(ul, ol) li::marker {
    color: #539ce4;
  }
  /* .mmm.light :is(ul, ol) li::marker {
    color: #446063;
  } */
    .mmm article > :is(ul, ol) {
    /* width: 100%; */
    box-shadow: 0px 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    padding-right: 30px;
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.8em;
  }
    .mmm article > :is(ul, ol, blockquote) code {
    background: none;
    border: none;
  }
  
    .mmm blockquote {
    /* width: 100%; */
    box-shadow: 0px 5px 25px rgb(1 1 1 / 15%);
    border-radius: 10px;
    /* padding: 3px 6px; */
    margin: 20px;
    border-right: 5px solid #539ce4;
    padding: 8px;
    background-color: #333;
    border-left: none;
  }
  /* .mmm.light blockquote {
    border-right: 5px solid #446063;

  } */
  .mmm.light blockquote p {
    color: #FFF;

  }
  
    .mmm ul ul,
    .mmm ol ol {
    padding-right: 30px;
  }
  
    .mmm th {
    text-align: center;
  }
  
    .mmm td {
    text-align: center;
  }
  
    .mmm .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    scroll-snap-type: y proximity;
  }
    .mmm .cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    scroll-snap-align: start;
  }
    .mmm .card {
    width: 30em;
    box-shadow: 0px 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    padding-bottom: 50px;
    margin: 20px;
    transition: 0.2s ease;
  }
    .mmm .card:hover {
    transform: scale(1.1);
  }
  
    .mmm .line-title {
    color: #539ce4;
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 30px;
    width: 100%;
  }
    .mmm .line-title:before,
    .mmm .line-title:after {
    background-color: #539ce4;
    content: '';
    display: inline-block;
    height: 7px;
    border-radius: 5px;
    position: relative;
    vertical-align: middle;
    width: 25%;
    margin: 0 10px;
  }
    .mmm .info {
    font-size: 1.2em;
    height: 100%;
  }
  
    .mmm .info :is(h3, h2, h1) {
    color: #539ce4;
    font-weight: 700;
    height: 30%;
  }
  
    .mmm .info p {
    margin-right: 20px;
    height: 70%;
  }
  
    .mmm :not(pre) > code {
    unicode-bidi: plaintext;
  }
  
    .mmm footer {
    background-color: black;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
  }
  
    .mmm footer p {
    font-size: 1.3em;
    font-weight: 700;
  }
  
    .mmm footer p span {
    color: #539ce4;
  }
  
    .mmm footer .social-icons a {
    color: white;
    font-size: 2em;
  }
  
    .mmm .go-up {
    position: fixed;
    bottom: 4em;
    right: 15px;
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.2s ease;
  
    background-color: #539ce4;
    border-radius: 12px;
    padding: 5px;
  }
  
    .mmm .go-up a {
    color: white;
  }
  
    .mmm .error-page h1 {
    color: #539ce4;
    font-size: 3em;
  }
  
    .mmm .toRTL * {
    direction: rtl;
  }
  .toLTR * {
    direction: ltr;
  }
  
    .mmm .table-of-contents {
    display: flex;
    flex-direction: column;
  }
  
    .mmm .table-of-contents li {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 1em;
  }
  
    .mmm .nice-visual code {
    font-size: 1.5em;
    font-weight: 700;
  }
  
    .mmm .share-links {
    z-index: 999;
    display: flex;
    position: fixed;
    left: 0;
    margin-top: 25em;
    margin-left: 3em;
    /* top: 0px; */
    font-size: 0.5em;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
    background: #f6f8fa;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
  }
  
  @media (max-width: 767px) {  .mmm 
    header {
      padding: 0.7em 1em;
    }
  
    .logo {
      font-size: 1.5em;
    }
  
    nav a {
      padding: 0 0.1em;
      font-size: 1.1em;
    }
    .topNavbar {
      font-size: 0.75em;
    }
    .line-title {
      font-size: 1.5em;
    }
    .card {
      padding: 10px;
      margin: 15px 5px;
    }
  
    main {
      padding: 10px 1.2em;
      padding-top: 120px;
    }
    p {
      line-height: 2.2em;
    }
    .table-of-contents li {
      font-size: 0.8em;
    }
    .table-of-contents ul ul {
      padding-right: 1em;
    }
  
    main h1 {
      font-size: 1.1em;
    }
  
    main h2 {
      font-size: 1em;
    }
    .main-btn {
      font-size: 1em;
    }
    .social-icons a {
      font-size: 1.7em;
    }
  
    .copy-button {
      font-size: 1em;
    }
  
    ul,
    ol {
      width: 100%;
      padding: 0;
    }
  
    article > :is(ul, ol) {
      margin: 15px 0;
    }
  
    article > blockquote {
      margin: 15px 0;
      padding: 3px 0;
      padding-right: 10px;
    }
    article :is(h1, h2, h3, h4, h5, h6)::before {
      content: '';
    }
  
    .line-title {
      font-size: 1.5em;
      margin-bottom: 15px;
    }
    .line-title:before,
    .line-title:after {
      display: none;
    }
    .info {
      height: auto;
    }
  
    .info h3 {
      font-size: 1em;
    }
  
    .info p {
      font-size: 0.9em;
      margin-right: 10px;
    }
  
    .card a {
      margin-bottom: 10px;
    }
  
    .group-btn :is(.edit, .red) {
      display: none;
    }
  
    footer {
      padding: 0.5em;
    }
  
    footer p {
      font-size: 0.6em;
    }
  
    footer .social-icons a {
      font-size: 1.1em;
    }
  
    .go-up {
      bottom: 2.5em;
    }
    .error-page h1 {
      color: #539ce4;
      font-size: 1.6em;
    }
  }
 